

@media (max-width: 575px) {
    @include mobileMenu;
    @include mobileMenuHeader;
    // ======== //
    @include mobileMenuFeat;
    .features {
        & .section-title {
            padding-bottom: 45px;
        }
        .nav-mobile-menu span {
            background-color: $color-black-9;
        }
    }
    // ======== //
    @include mobileMenuBlog;
    .blog-pos {
        .nav-mobile-menu span {
            background-color: $color-black-9;
        }
    }
}
    

