// ==================================COLORS==================================

$color-black: #000;
$color-black-9: #161616;
$color-gray-font: #595959;
$color-white: #fff;
$color-yellow: #ffc600;
$color-orange: #c88400;
$color-blue: #2046b3;
$color-light-gray: #e8e8e8;
